<div class="row">
    {{#each articles}}
    <div class="card mb-3">
        <div class="card-header container-fluid bg-secondary">
            <div class="row">
                <div class="col-sm-10 float-right">
                    <a href="{{this.link}}" style="text-decoration:none;" target="_blank">
                        <h5 class="text-left text-white">{{this.title}}</h5>
                    </a>
                </div>
                <div class="col-sm-2 float-right">
                    <button type="button" class="btn btn-secondary mr-2" id="save-article" data-id="{{this._id}}">Save
                        Article</button>
                </div>
            </div>
        </div>
        <div class="card-body">
            <div class="row">
                <div class="col">
                    <a href="{{this.slugLink}}" style="text-decoration:none;" target="_blank">
                        <p id="slug">{{this.slug}}</p>
                    </a>
                    <a href="{{this.link}}" style="text-decoration:none;" target="_blank">
                        <p>{{this.summary}}</p>
                    </a>
                </div>
                <div class="col-3 card-img mt-1" alt="Card image">
                    <a href="{{this.link}}" style="text-decoration:none;" target="_blank">
                        <img src="{{this.image}}" class="float-right img-fluid"
                            onerror="this.parentElement.innerHTML = '';">
                    </a>
                </div>
            </div>
            </a>
        </div>
    </div>
    {{/each}}
</div>