<div>
    <h4 id="savedTitle">Saved Articles</h4>
    {{#if articles}}
    {{#each articles}}
    <div class="card mb-3">
        <a href="{{this.link}}" style="text-decoration:none;" target="_blank">
            <div class="card-header text-left text-white bg-secondary">
                <h5>{{this.title}}</h5>
            </div>
        </a>
        <div class="card-body">
            <div class="row">
                <div class="col">
                    <a href="{{this.slugLink}}" style="text-decoration:none;" target="_blank">
                        <p id="slug">{{this.slug}}</p>
                    </a>
                    <a href="{{this.link}}" style="text-decoration:none;" target="_blank">
                        <p>{{this.summary}}</p>
                    </a>
                </div>
                <div class="col-3 card-img mt-1" alt="Card image">
                    <a href="{{this.link}}" style="text-decoration:none;" target="_blank">
                        <img src="{{this.image}}" class="float-right img-fluid"
                            onerror=" this.parentElement.innerHTML='';">
                    </a>
                </div>
            </div>
            </a>
            <div class="row mt-1">
                <div class="col-sm-3">
                    <h6 class="pt-3 pl-2">Current Comments:</h6>
                </div>
                <div class="col-sm-6">
                    {{#if this.notes}}
                    <ul>
                        {{#each this.notes}}
                        <li>{{body}}</li>
                        {{/each}}
                    </ul>
                    {{else}}
                    <p class="mt-3">No comments yet. Feel free to leave one.</p>
                    {{/if}}
                </div>
            </div>
            <br>
            <div class="row">
                <button type="button" class="btn btn-secondary mr-2 ml-4" id="make-comment" data-id="{{this._id}}">Make
                    Comment</button>
                <button type="button" class="btn btn-dark mr-2" id="unsave-article" data-id="{{this._id}}">Remove from
                    Saved Articles</button>
            </div>
        </div>
    </div>
    {{else}}
    <p>No articles have been saved.</p>
    {{/each}}
    {{/if}}
    <div class="modal" id="comment-modal" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Make a Comment</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div id="comment-modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
                    aria-hidden="true">
                    <form>
                        <div class="modal-body">
                            <div class="form-group">
                                <label for="comment-input">Type your Comment Here</label>
                                <textarea class="form-control" id="comment-input" rows="2"></textarea>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" id="save-comment">Save Comment</button>
                            <button type="button" class="btn btn-dark" data-dismiss="modal">Close</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>